@font-face {
  font-family: Shield;
  src: url(../font/Shield.ttf) 
}

body{
    
  /*font-family: 'Shield';*/
  background-color: #D3D3D3;
  font-family: 'Poppins', sans-serif;
}
main{

    min-width: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex{ 
    display: flex;
    gap:30px;
    padding: 80px 0;
}